body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  background-color: #363636;
}

h1 { color: #e6c300; }

img {
  width: 90vw;
  max-width: 256px;
}
